
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <div>
        <div>
            <p>
                Enter your name <br />
            </p>    
            @Html.TextBox("name")
            <p>
                Enter your surname <br />
            </p>
            @Html.TextBox("surName")
            <p>
                Enter your  mail <br />
            </p>
            @Html.TextBox("mail")
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
}

@if (TempData["Alert"] != null && TempData["Alert"].Equals("Error"))
{
    <h4 class="errorOutput">@TempData["AllertMessage"]</h4>
}